---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from:screen_name&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="dc18d534f062bcb0a3a46ffb64eda643",
        oauth_signature="g2a3yaxsbKskTvRKo6NCbxJnn2g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1586859469", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Apr 2020 10:17:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 87f5ba6f22799e7753cbdc39e6571285
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1586860370'
      X-Response-Time:
      - '137'
      X-Transaction:
      - 00756cbb0087e9f4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Apr 13 07:13:39 +0000 2020","id":1249596597479956481,"id_str":"1249596597479956481","text":"#\u30c6\u30b9\u30c8
        #\u30c6\u30b9\u30c8\u30e9\u30ca\u30a4","truncated":false,"entities":{"hashtags":[{"text":"\u30c6\u30b9\u30c8","indices":[0,4]},{"text":"\u30c6\u30b9\u30c8\u30e9\u30ca\u30a4","indices":[5,12]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"und","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1048451188209770497,"id_str":"1048451188209770497","name":"END","screen_name":"aiandrox","location":"\u5ca1\u5c71\u2192\u5c71\u68a8\u2192\u6771\u4eac","description":"\u5c0f\u5b66\u6821\u306e\u5148\u751f\u3084\u3063\u3066\u305f\u3002\u30a8\u30f3\u30b8\u30cb\u30a2\u76ee\u6307\u3057\u3066Rails\u3068\u304b\u9811\u5f35\u3063\u3066\u308b\u3002#RUNTEQ
        1\u6708\u751f\u3002\u8b0e\u89e3\u304d\u597d\u304d\u3002","url":"https:\/\/t.co\/TyyKszsTB0","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TyyKszsTB0","expanded_url":"https:\/\/lapras.com\/public\/CQMWEEQ","display_url":"lapras.com\/public\/CQMWEEQ","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":100,"friends_count":115,"listed_count":3,"created_at":"Sat
        Oct 06 05:53:37 +0000 2018","favourites_count":142,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":629,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1073221619026259968\/ioISmeyP_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1073221619026259968\/ioISmeyP_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1048451188209770497\/1585461723","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"und"},{"created_at":"Sun
        Apr 12 01:53:28 +0000 2020","id":1249153629946359809,"id_str":"1249153629946359809","text":"\u3059\u3068\u3068\u3066\n#\u30c6\u30b9\u30c8","truncated":false,"entities":{"hashtags":[{"text":"\u30c6\u30b9\u30c8","indices":[5,9]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1249153524732235775&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from:aiandrox&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="06707ec44dd76fa6758daeae03169cb6",
        oauth_signature="aR1wqNmUgAly%2BHWYQ6XH9yTjN6s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1586859470", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Apr 2020 10:17:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - dfda07fe12d585cc6819fe5d65d38b3f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1586860370'
      X-Response-Time:
      - '119'
      X-Transaction:
      - '0019413500577ea8'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":1249153524732235775,"max_id_str":"1249153524732235775","query":"%23%E3%83%86%E3%82%B9%E3%83%88+from%3Aaiandrox","refresh_url":"?since_id=1249153524732235775&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 14 Apr 2020 10:17:50 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1249153524732235776&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="ace78265dbd47e77589374ec9277d046",
        oauth_signature="rRQR%2BanF8JC20zEjx%2BU0fVosscs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1586859470", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 14 Apr 2020 10:17:50 GMT
      X-Connection-Hash:
      - 6ab44fef82ea1096919e49694e5397ca
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1586860370'
      X-Response-Time:
      - '115'
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/aiandrox\/status\/1249153524732235776","author_name":"END","author_url":"https:\/\/twitter.com\/aiandrox","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"ja\" dir=\"ltr\"\u003Eてすと\u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/%E3%83%86%E3%82%B9%E3%83%88?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#テスト\u003C\/a\u003E\u003C\/p\u003E&mdash;
        END (@aiandrox) \u003Ca href=\"https:\/\/twitter.com\/aiandrox\/status\/1249153524732235776?ref_src=twsrc%5Etfw\"\u003E2020年4月12日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 14 Apr 2020 10:17:50 GMT
[...]
