---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?user_id=1048451188209770497
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="e8cebda695b599eec07af66ba3b6176e",
        oauth_signature="1wUaHmXQQrr%2FBnJnRAXPjjbMIzQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1592221194", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 15 Jun 2020 11:39:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - af11f60b119b626766b5cef80fcda71e
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1592222094'
      X-Response-Time:
      - '134'
      X-Transaction:
      - 00ad9c1800ba6c7a
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":1242379749650907137,"id_str":"1242379749650907137","name":"Hashlog","screen_name":"Hash1og","location":"","description":"\u3042\u306a\u305f\u306e\u5b66\u7fd2\u3092\u53ef\u8996\u5316\u3059\u308b\u30c4\u30a4\u30fc\u30c8\u8a18\u9332\u30b5\u30fc\u30d3\u30b9","url":"https:\/\/t.co\/RkGxDtMt5D","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/RkGxDtMt5D","expanded_url":"https:\/\/hashlog.work","display_url":"hashlog.work","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":4,"listed_count":0,"created_at":"Tue
        Mar 24 09:16:34 +0000 2020","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11,"lang":null,"status":{"created_at":"Mon
        Jun 15 02:09:46 +0000 2020","id":1272350558322520064,"id_str":"1272350558322520064","text":"\u4eba\u751f\u697d\u3057\u3093\u3060\u3082\u306e\u52dd\u3061\u3002\n#Hashlog","truncated":false,"entities":{"hashtags":[{"text":"Hashlog","indices":[12,20]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1270548562221215744\/_lvOIniK_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1270548562221215744\/_lvOIniK_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1242379749650907137\/1591757543","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'
  recorded_at: Mon, 15 Jun 2020 11:39:54 GMT
recorded_with: VCR 6.0.0
