= link_to registered_tag.tag.name, mypage_registered_tag_path(registered_tag)
= link_to "#{registered_tag.tag.name}のユーザーページの方", user_registered_tag_path(user.uuid, registered_tag)
= registered_tag.tweeted_day_count
= registered_tag.privacy_i18n
= registered_tag.remind_day
= registered_tag.first_tweeted_at
= registered_tag.last_tweeted_at
br