- content_for :title, @registered_tag.tag.name

h1= @registered_tag.tag.name

= render partial: 'tweets/tweet', collection: @tweets

= link_to '設定', edit_mypage_registered_tag_path(@registered_tag)

累計

= javascript_include_tag '//platform.twitter.com/widgets.js'
