---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23tag_1%20from:user_1%20exclude:retweets&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="a164cb784f954fff4e249e918be17aff",
        oauth_signature="fptM8hd9uOwTs9lBuaxuyEMkvno%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588749175", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 May 2020 07:12:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8320d6efcf20e6b3ccf6f4de7644a153
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588750075'
      X-Response-Time:
      - '173'
      X-Transaction:
      - 00664eec00f86eff
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.04,"max_id":1257931321646575616,"max_id_str":"1257931321646575616","query":"%23tag_1+from%3Auser_1","refresh_url":"?since_id=1257931321646575616&q=%23tag_1%20from%3Auser_1&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Wed, 06 May 2020 07:12:55 GMT
recorded_with: VCR 5.1.0
