---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox%20exclude:retweets&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="784592616616443d92569bdc9b63293b",
        oauth_signature="uQyIcLXthkPYnL94fdhe39MUanw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588754614", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 May 2020 08:43:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4d9b82f2a1fe612e8dcb0d679cd472e0
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1588755221'
      X-Response-Time:
      - '121'
      X-Transaction:
      - '00814ebf00df6216'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":1257954140837142529,"max_id_str":"1257954140837142529","query":"%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97+from%3Aaiandrox","refresh_url":"?since_id=1257954140837142529&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":1255854602626330624,"since_id_str":"1255854602626330624"}}'
  recorded_at: Wed, 06 May 2020 08:43:35 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="ef6747c9901d092b9f37f2eec6b704c3",
        oauth_signature="RmW28lMzNzIfxz2WenbhHbjz4ZU%3D", oauth_signature_metho[...]
