# #ポートフォリオ進捗, from:aiandrox, since_id=1255854602626330624
# 3件取得
---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox%20exclude:retweets&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="46bfa2e78fd12e5c136f148ffe1e02cc",
        oauth_signature="97VWUx%2B0n4ZmYSHWOg4L8oFGGys%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588690589", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 05 May 2020 14:56:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 60fd4c3e1823fa306454ece512c2e956
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1588691329'
      X-Response-Time:
      - '141'
      X-Transaction:
      - 00fe232a0018c193
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Tue May 05 09:39:24 +0000 2020","id":1257605808172359682,"id_str":"1257605808172359682","text":"\u304a\u524d\u307e\u305f\u30ea\u30d5\u30a1\u30af\u30bf\u30ea\u30f3\u30b0\u3067\u6642\u9593\u6f70\u3057\u3066\u3093\u306e\u304b\u3002\n#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","truncated":false,"entities":{"hashtags":[{"text":"\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","indices":[23,33]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1048451188209770497,"id_str":"1048451188209770497","name":"END","screen_name":"aiandrox","location":"\u5ca1\u5c71\u2192\u5c71\u68a8\u2192\u6771\u4eac","description":"\u5c0f\u5b66\u6821\u306e\u5148\u751f\u304b\u3089\u30a8\u30f3\u30b8\u30cb\u30a2\u76ee\u6307\u3057\u3066Rails\u3068\u304b\u9811\u5f35\u3063\u3066\u308b\u4eba\u3067\u3059\u3002\u96d1\u591a\u306b\u545f\u304f\u3002#RUNTEQ
        1\u6708\u751f\u3002\u8b0e\u89e3\u304d\u597d\u304d\u3002","url":"https:\/\/t.co\/TyyKszsTB0","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TyyKszsTB0","expanded_url":"https:\/\/lapras.com\/public\/CQMWEEQ","display_url":"lapras.com\/public\/CQMWEEQ","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":118,"friends_count":122,"listed_count":3,"created_at":"Sat
        Oct 06 05:53:37 +0000 2018","favourites_count":303,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":887,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1048451188209770497\/1585461723","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"ja"},{"created_at":"Sun
        May 03 13:58:00 +0000 2020","id":1256946110393794560,"id_str":"1256946110393794560","text":"\u3042\u3001#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357
        \u5fd8\u308c\u3066\u305f\u3002\u901a\u3089\u306a\u3044\u30b9\u30da\u30c3\u30af\u306f\u8ae6\u3081\u305f\u3002\u5b9f\u88c5\u306f\u52d5\u3044\u3066\u308b\u304b\u3089\u2026\u2026\u3002\n\u4f55\u3082\u6210\u3057\u9042\u3052\u305a\u306b\u306f\u7d42\u308f\u308c\u306a\u3044\u306e\u3067\u3001\u[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1256251076820389893&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="2831a9b6766b733cc46e1bd75cc40e65",
        oauth_signature="cQlvltaTIeupB%2F6VksoF%2F4Jz360%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588690589", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 05 May 2020 14:56:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f9caa33577fd473c95332e5c8aad6227
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1588691329'
      X-Response-Time:
      - '122'
      X-Transaction:
      - '009fdbcc0060a5d0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":1256251076820389893,"max_id_str":"1256251076820389893","query":"%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97+from%3Aaiandrox","refresh_url":"?since_id=1256251076820389893&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":1255854602626330624,"since_id_str":"1255854602626330624"}}'
  recorded_at: Tue, 05 May 2020 14:56:29 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1257605808172359682&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="363e2754f96de63e5b415ebe428a3431",
        oauth_signature="HsKVacBlnKbHypdRFztcxiXPdYA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588690589", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 05 May 2020 14:56:29 GMT
      X-Connection-Hash:
      - 50ea1189e2a3766eb00746061f793b86
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '172'
      X-Rate-Limit-Reset:
      - '1588691330'
      X-Response-Time:
      - '115'
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/aiandrox\/status\/1257605808172359682","author_name":"END","author_url":"https:\/\/twitter.com\/aiandrox","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"ja\" dir=\"ltr\"\u003Eお前またリファクタリングで時間潰してんのか。\u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#ポートフォリオ進捗\u003C\/a\u003E\u003C\/p\u003E&mdash;
        END (@aiandrox) \u003Ca href=\"https:\/\/twitter.com\/aiandrox\/status\/1257605808172359682?ref_src=twsrc%5Etfw\"\u003E2020年5月5日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Tue, 05 May 2020 14:56:29 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="2b2a0a899ebbafa09dcb6505ad9a35e5",
        oauth_signature="Vmr9tLMwaTJ0L7UJcplly%2Fx9giw%3D", oauth_signature_met[...]
[...]
