---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%8F%E3%83%83%E3%82%B7%E3%83%A5%E3%82%BF%E3%82%B0%20from:user%20exclude:retweets&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="5fb5fa1e0a834d7fbe6f69b8edf4ed01",
        oauth_signature="Xu3kab0Aj6cXIzbjTpgmvuYz%2BKI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1591088082", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 429
      message: TooManyRequests
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 Jun 2020 08:54:42 GMT
      Status:
      - 429 TooManyRequests
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fc34b22d812ca8ad0094056bea6b5c28
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1591088982'
      X-Response-Time:
      - '130'
      X-Transaction:
      - 0033bfed002fd1f1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Sorry, that page does not exist","code":34}]}'
  recorded_at: Tue, 02 Jun 2020 08:54:42 GMT
recorded_with: VCR 6.0.0
