# #absent_tag
# ツイートなし
---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23absent_tag%20from:aiandrox%20exclude:retweets&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="5eaccfab134a8816b9e00dca0083ed26",
        oauth_signature="q8%2BlGPkqsGiXy6lKx73PZ3AO5jo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588317569", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 07:19:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 837ef7621eb0db7cb5e9cd2024176511
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588318469'
      X-Response-Time:
      - '123'
      X-Transaction:
      - 001bab42009131bb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.012,"max_id":1256121037403508736,"max_id_str":"1256121037403508736","query":"%23absent_tag+from%3Aaiandrox","refresh_url":"?since_id=1256121037403508736&q=%23absent_tag%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 01 May 2020 07:19:29 GMT
recorded_with: VCR 5.1.0
