---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from:user_1&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="ac63a1fc4a60bb98f69ca81fda86f3c6",
        oauth_signature="rHajPisplwF2D5Nn1izJHOo80Xc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1586853030", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Apr 2020 08:30:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - '0904dff0b6c1455766ddda5ffb14fb1a'
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1586853253'
      X-Response-Time:
      - '121'
      X-Transaction:
      - 00e3efd0001dc628
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":1249978318130237440,"max_id_str":"1249978318130237440","query":"%23%E3%83%86%E3%82%B9%E3%83%88+from%3Auser_1","refresh_url":"?since_id=1249978318130237440&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from%3Auser_1&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 14 Apr 2020 08:30:30 GMT
recorded_with: VCR 5.1.0
