---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23tag_1%20from:user_1&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="06260732d0869b48acf1b8b8d604c737",
        oauth_signature="ntsUC7JYnDPymoKmjQ4ogg0I3kM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588496900", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 03 May 2020 09:08:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f63ab078bf2784f0da454b2ce55669d1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588497800'
      X-Response-Time:
      - '130'
      X-Transaction:
      - 000aa49900220817
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.02,"max_id":1256873209405685760,"max_id_str":"1256873209405685760","query":"%23tag_1+from%3Auser_1","refresh_url":"?since_id=1256873209405685760&q=%23tag_1%20from%3Auser_1&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Sun, 03 May 2020 09:08:21 GMT
recorded_with: VCR 5.1.0
