# #ポートフォリオ進捗
# 1件取得
---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox%20exclude:retweets&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="3158b4871c0f7d481bd8008cb7f472a2",
        oauth_signature="l%2FiY9qeLKbhBD7j4BTDicKN00GU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588345280", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 15:01:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bd25f229cd888510530a9cb2ff8f36e4
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588346181'
      X-Response-Time:
      - '206'
      X-Transaction:
      - 00d99f6f00d03b49
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Fri May 01 11:31:07 +0000 2020","id":1256184370781548544,"id_str":"1256184370781548544","text":"API\u3089\u3078\u3093\u306e\u30c6\u30b9\u30c8\u304c\u3048\u3050\u3048\u3050\u306e\u3048\u3050\u3002\u4eca\u65e5\u4e2d\u306b\u7d42\u308f\u3089\u305b\u305f\u3044\u306a\u3042\u3002#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","truncated":false,"entities":{"hashtags":[{"text":"\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","indices":[32,42]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1048451188209770497,"id_str":"1048451188209770497","name":"END","screen_name":"aiandrox","location":"\u5ca1\u5c71\u2192\u5c71\u68a8\u2192\u6771\u4eac","description":"\u5c0f\u5b66\u6821\u306e\u5148\u751f\u304b\u3089\u30a8\u30f3\u30b8\u30cb\u30a2\u76ee\u6307\u3057\u3066Rails\u3068\u304b\u9811\u5f35\u3063\u3066\u308b\u4eba\u3067\u3059\u3002\u96d1\u591a\u306b\u545f\u304f\u3002#RUNTEQ
        1\u6708\u751f\u3002\u8b0e\u89e3\u304d\u597d\u304d\u3002","url":"https:\/\/t.co\/TyyKszsTB0","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TyyKszsTB0","expanded_url":"https:\/\/lapras.com\/public\/CQMWEEQ","display_url":"lapras.com\/public\/CQMWEEQ","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":113,"friends_count":122,"listed_count":3,"created_at":"Sat
        Oct 06 05:53:37 +0000 2018","favourites_count":266,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":840,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1048451188209770497\/1585461723","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"ja"}],"search_metadata":{"completed_in":0.029,"max_id":1256184370781548544,"max_id_str":"1256184370781548544","next_results":"?max_id=1256184370781548543&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from%3Aaiandrox&count=100&include_entities=1&result_type=recent","query":"%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97+from%3Aaiandrox","refresh_url":"?since_id=1256184370781548544&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":1255854602626330624,"since_id_str":"1255854602626330624"}}'
  recorded_at: Fri, 01 May 2020 15:01:21 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1256184370781548543&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="38117b785382c40a52af1c7c6a34ade5",
        oauth_signature="4Gtbv88p[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1256184370781548544&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="ace483430ecc739415b5e29c5b63988d",
        oauth_signature="egmD%2BN5BWhdxo9AZlPCkQ2zCZBo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588345281", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 15:01:21 GMT
      X-Connection-Hash:
      - af33a51a3ac470314c90df3d295daffa
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588346181'
      X-Response-Time:
      - '165'
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/aiandrox\/status\/1256184370781548544","author_name":"END","author_url":"https:\/\/twitter.com\/aiandrox","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"ja\" dir=\"ltr\"\u003EAPIらへんのテストがえぐえぐのえぐ。今日中に終わらせたいなあ。\u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#ポートフォリオ進捗\u003C\/a\u003E\u003C\/p\u003E&mdash;
        END (@aiandrox) \u003Ca href=\"https:\/\/twitter.com\/aiandrox\/status\/1256184370781548544?ref_src=twsrc%5Etfw\"\u003E2020年5月1日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Fri, 01 May 2020 15:01:21 GMT
[...]
