---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23tag_1%20from:user_1&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="1fd07cfc7daeb4d51cb264584ff52d50",
        oauth_signature="fNDd%2F%2F7tbKv3ihcsP1kaR3OA%2Bt4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588416588", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 02 May 2020 10:49:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ae7002bfa6d1f48154c414dde3ebbc7b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1588416998'
      X-Response-Time:
      - '136'
      X-Transaction:
      - 006de99c003e1e18
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.017,"max_id":1256536357066780672,"max_id_str":"1256536357066780672","query":"%23tag_1+from%3Auser_1","refresh_url":"?since_id=1256536357066780672&q=%23tag_1%20from%3Auser_1&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Sat, 02 May 2020 10:49:49 GMT
[...]
