# #ポートフォリオ進捗
# 0件取得
---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox&result_type=recent&since_id=1255854602626330624
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="b2c4bb3328f7cc4414867921201fcfba",
        oauth_signature="Os3QV2%2FR0hGKtKEo70Eaf%2B9E%2Bt4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588346364", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 15:19:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0cc15bccb43bdac206c6740d29015fd3
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588347264'
      X-Response-Time:
      - '121'
      X-Transaction:
      - 00a0f3b500fe4855
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":1256241810751406080,"max_id_str":"1256241810751406080","query":"%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97+from%3Aaiandrox","refresh_url":"?since_id=1256241810751406080&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":1255854602626330624,"since_id_str":"1255854602626330624"}}'
  recorded_at: Fri, 01 May 2020 15:19:24 GMT
recorded_with: VCR 5.1.0
