---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from:aiandrox&result_type=recent&since_id=1255013230675546112
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="35fed5b14bd544aed3ace26110cbe7a3",
        oauth_signature="Rfo9Q5lHbrdbRqX%2B%2BMXhnoGHHXU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588342350", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 14:12:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b0036340e6bd7114ed6efcaabcd16a31
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1588342781'
      X-Response-Time:
      - '276'
      X-Transaction:
      - 006e93b90006d120
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.074,"max_id":1256224984567107585,"max_id_str":"1256224984567107585","query":"%23%E3%83%86%E3%82%B9%E3%83%88+from%3Aaiandrox","refresh_url":"?since_id=1256224984567107585&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":1255013230675546112,"since_id_str":"1255013230675546112"}}'
  recorded_at: Fri, 01 May 2020 14:12:31 GMT
recorded_with: VCR 5.1.0
