---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/tweets/search/30day/premium.json
    body:
      encoding: UTF-8
      string: '{"maxResults":100,"query":"#ポートフォリオ進捗 from:aiandrox"}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="f7175a18a948ba207f843fd89b682b24",
        oauth_signature="w4MurdEMcgnRnqu%2Fz%2BEuLakp7jw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1591010225", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 833c9e46ac3520b7ca6456b0d6630fab
      X-Response-Time:
      - '204'
      X-Tsa-Request-Body-Time:
      - '1'
    body:
      encoding: UTF-8
      string: '{"results":[{"created_at":"Mon Jun 01 10:00:33 +0000 2020","id":1267395602662354946,"id_str":"1267395602662354946","text":"\u76f4\u308a\u307e\u3057\u305f\u3002\u30e2\u30c3\u30af\u304c\u58ca\u308c\u307e\u3057\u305f\u3002\u304b\u306a\u3057\u3044\u3067\u3059\u3002\n#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":1267360976967397377,"in_reply_to_status_id_str":"1267360976967397377","in_reply_to_user_id":1048451188209770497,"in_reply_to_user_id_str":"1048451188209770497","in_reply_to_screen_name":"aiandrox","user":{"id":1048451188209770497,"id_str":"1048451188209770497","name":"END","screen_name":"aiandrox","location":"\u5ca1\u5c71\u305a\u3063\u3068\u2192\u5c71\u68a8\u3061\u3087\u3063\u3068\u2192\u6771\u4eac\u30a4\u30de\u30b3\u30b3","url":"https:\/\/lapras.com\/public\/CQMWEEQ","description":"\u5c0f\u5b66\u6821\u306e\u5148\u751f\u304b\u3089\u30a8\u30f3\u30b8\u30cb\u30a2\u306b\u306a\u308a\u305f\u3044\u4eba\u3002\u96d1\u591a\u306b\u545f\u304f\u3002#RUNTEQ
        1\u6708\u751f\u3002\u8b0e\u89e3\u304d\u597d\u304d\u3002","translator_type":"none","protected":false,"verified":false,"followers_count":131,"friends_count":129,"listed_count":4,"favourites_count":539,"statuses_count":1222,"created_at":"Sat
        Oct 06 05:53:37 +0000 2018","utc_offset":null,"time_zone":null,"geo_enabled":false,"lang":null,"contributors_enabled":false,"is_translator":false,"profile_background_color":"F5F8FA","profile_background_image_url":"","profile_background_image_url_https":"","profile_background_tile":false,"profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1048451188209770497\/1585461723","default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"quote_count":0,"reply_count":0,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","indices":[24,34]}],"urls":[],"user_mentions":[],"symbols":[]},"favorited":false,"retweeted":false,"filter_level":"low","lang":"ja","matching_rules":[{"tag":null}]},{"created_at":"Mon
        Jun 01 07:42:57 +0000 2020","id":1267360976967397377,"id_str":"1267360976967397377","text":"\u81f4\u547d\u7684\u306a\u6b20\u9665\u3092\u898b\u3064\u3051\u3066\u3057\u307e\u3063\u305f\u3068\u3060\u3051\u2026\u2026\n#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":n[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1260014937348247552&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="15cf9794ec7fd7cd53d5c647dbe49b57",
        oauth_signature="6o%2BC9O%2Ffx4VsraH79jaiUWuBMP0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1591010225", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 01 Jun 2020 11:17:06 GMT
      X-Connection-Hash:
      - 95315643526f4851fb78b0fafa0da373
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '166'
      X-Rate-Limit-Reset:
      - '1591010535'
      X-Response-Time:
      - '120'
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/aiandrox\/status\/1260014937348247552","author_name":"END","author_url":"https:\/\/twitter.com\/aiandrox","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"ja\" dir=\"ltr\"\u003E「これなんでこの書き方してないんだ？」って思って直したらうまく動かなくなって、過去の自分に合点した。\u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#ポートフォリオ進捗\u003C\/a\u003E\u003C\/p\u003E&mdash;
        END (@aiandrox) \u003Ca href=\"https:\/\/twitter.com\/aiandrox\/status\/1260014937348247552?ref_src=twsrc%5Etfw\"\u003E2020年5月12日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Mon, 01 Jun 2020 11:17:06 GMT
[...]
