# #テスト
# tweeted_day_count 4日
---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from:aiandrox%20exclude:retweets&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="0ab497377650716b0fa0bd2689936b16",
        oauth_signature="3x0twoYwQcqcwI4A0wCSXwDibrg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588337725", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 12:55:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3afb7d93c8012a4fae27ef86675f9481
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588338626'
      X-Response-Time:
      - '231'
      X-Transaction:
      - 0073af3500ee048f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Tue Apr 28 05:57:25 +0000 2020","id":1255013230675546112,"id_str":"1255013230675546112","text":"\u308f\u304b\u3089\u3093of\u308f\u304b\u3089\u3093\n\u3053\u308c\u30c7\u30d7\u30ed\u30a4\u3067\u6b7b\u306c\u4e88\u611f\u3057\u304b\u306a\u3044\u304b\u3089\u3001\u3042\u308b\u7a0b\u5ea6\u3067\u304d\u305f\u3089\u4e00\u65e6\u30c7\u30d7\u30ed\u30a4\u3057\u305f\u307b\u3046\u304c\u3044\u3044\u306a\u3042\n#\u30c6\u30b9\u30c8","truncated":false,"entities":{"hashtags":[{"text":"\u30c6\u30b9\u30c8","indices":[53,57]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1048451188209770497,"id_str":"1048451188209770497","name":"END","screen_name":"aiandrox","location":"\u5ca1\u5c71\u2192\u5c71\u68a8\u2192\u6771\u4eac","description":"\u5c0f\u5b66\u6821\u306e\u5148\u751f\u304b\u3089\u30a8\u30f3\u30b8\u30cb\u30a2\u76ee\u6307\u3057\u3066Rails\u3068\u304b\u9811\u5f35\u3063\u3066\u308b\u4eba\u3067\u3059\u3002\u96d1\u591a\u306b\u545f\u304f\u3002#RUNTEQ
        1\u6708\u751f\u3002\u8b0e\u89e3\u304d\u597d\u304d\u3002","url":"https:\/\/t.co\/TyyKszsTB0","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TyyKszsTB0","expanded_url":"https:\/\/lapras.com\/public\/CQMWEEQ","display_url":"lapras.com\/public\/CQMWEEQ","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":113,"friends_count":122,"listed_count":3,"created_at":"Sat
        Oct 06 05:53:37 +0000 2018","favourites_count":265,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":838,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1048451188209770497\/1585461723","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"ja"},{"created_at":"Tue
        Apr 28 03:25:58 +0000 2020","id":1254975116057776128,"id_str":"1254975116057776128","text":"15\u5206\u5f8c\u306b\u3053\u306e\u30c4\u30a4\u30fc\u30c8\u304c\u53ce\u96c6\u3055\u308c\u308b\u306f\u305a
        #\u30c6\u30b9\u30c8 #\u30c6\u30b9\u30c8\u30e9\u30ca\u30a4","truncated":false,"entities":{"hashtags":[{"text":"\u30c6\u30b9\u30c8","indices":[20,24]},{"text":"\u30c6\u30b9\u30c8\u30e9\u30ca\u30a4","indices":[25,32]}],"symbols":[],"user_mentions":[],"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1253946258395246591&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from:aiandrox&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="3cd65265e3d4e4f2b84e52c63c5e8409",
        oauth_signature="MEBvhzx2th5QlVFiHzOLkry1gcQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588337727", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 12:55:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8454532d02f8f4080207618bd84a52c5
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1588338626'
      X-Response-Time:
      - '144'
      X-Transaction:
      - 0076abd800881c83
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":1253946258395246591,"max_id_str":"1253946258395246591","query":"%23%E3%83%86%E3%82%B9%E3%83%88+from%3Aaiandrox","refresh_url":"?since_id=1253946258395246591&q=%23%E3%83%86%E3%82%B9%E3%83%88%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 01 May 2020 12:55:28 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1254025525514735622&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="1e3a8242536cf2acc03891a35b02ccca",
        oauth_signature="04soGg2MTbep86d2ylTHaNzoEik%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588337728", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 12:55:28 GMT
      X-Connection-Hash:
      - edb3e5f37e18db6a1a092de42a73e080
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588338628'
      X-Response-Time:
      - '114'
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/aiandrox\/status\/1254025525514735622","author_name":"END","author_url":"https:\/\/twitter.com\/aiandrox","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"nl\" dir=\"ltr\"\u003E4jhze¥st@d(shw@gykd@&#39;
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/%E3%83%86%E3%82%B9%E3%83%88?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#テスト\u003C\/a\u003E\u003C\/p\u003E&mdash;
        END (@aiandrox) \u003Ca href=\"https:\/\/twitter.com\/aiandrox\/status\/1254025525514735622?ref_src=twsrc%5Etfw\"\u003E2020年4月25日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Fri, 01 May 2020 12:55:28 GMT
[...]
