# #ポートフォリオ進捗
# tweeted_day_count 2日
---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox%20exclude:retweets&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="154f03e22a5db329798d282807fe4d14",
        oauth_signature="F5T6vYnAjP8ow%2BNchIXZTs7gfpE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588317642", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 07:20:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fce871e986d5a74371cd3d7b02072171
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1588318469'
      X-Response-Time:
      - '138'
      X-Transaction:
      - 00fa292c006b958c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Apr 30 13:40:44 +0000 2020","id":1255854602626330624,"id_str":"1255854602626330624","text":"\u30ac\u30d0\u30ac\u30d0\u30ed\u30b8\u30c3\u30af\u304c\u5224\u660e\u3057\u307e\u3057\u305f\u2026\u2026\u52d5\u304b\u306a\u3044\u30e1\u30bd\u30c3\u30c9\u4f5c\u3063\u3066\u307e\u3057\u305f\u2026\u2026\u30c6\u30b9\u30c8\u3063\u3066\u5927\u4e8b\u3067\u3059\u306d\u2026\u2026\u3002\n#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","truncated":false,"entities":{"hashtags":[{"text":"\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","indices":[47,57]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1048451188209770497,"id_str":"1048451188209770497","name":"END","screen_name":"aiandrox","location":"\u5ca1\u5c71\u2192\u5c71\u68a8\u2192\u6771\u4eac","description":"\u5c0f\u5b66\u6821\u306e\u5148\u751f\u304b\u3089\u30a8\u30f3\u30b8\u30cb\u30a2\u76ee\u6307\u3057\u3066Rails\u3068\u304b\u9811\u5f35\u3063\u3066\u308b\u4eba\u3067\u3059\u3002\u96d1\u591a\u306b\u545f\u304f\u3002#RUNTEQ
        1\u6708\u751f\u3002\u8b0e\u89e3\u304d\u597d\u304d\u3002","url":"https:\/\/t.co\/TyyKszsTB0","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TyyKszsTB0","expanded_url":"https:\/\/lapras.com\/public\/CQMWEEQ","display_url":"lapras.com\/public\/CQMWEEQ","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":113,"friends_count":122,"listed_count":3,"created_at":"Sat
        Oct 06 05:53:37 +0000 2018","favourites_count":265,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":835,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1250601087318413313\/yMmfgkOX_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1048451188209770497\/1585461723","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"ja"},{"created_at":"Thu
        Apr 30 10:31:08 +0000 2020","id":1255806887917830144,"id_str":"1255806887917830144","text":"\u30fbActiveJob\u5b8c\u5168\u306b\u7406\u89e3\u3057\u305f\u3002\n\u30fbasync\u3001await\u306b\u3064\u3044\u3066\u771f\u9762\u76ee\u306b\u5b66\u3070\u306a\u3051\u308c\u3070\u306a\u3089\u306a\u3044\u65e5\u304c\u6765\u3066\u3057\u307e\u3063\u305f\u3002\n#\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u9032\u6357","truncated":false,"entities":{"hashtags":[{"text":"\u3[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1255343018363756543&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from:aiandrox&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="a0ef28fe2cd49d19ded0aad37c11ccb0",
        oauth_signature="K1GulM%2B%2FWxbSyNbh5O6ZFh4zjlo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588317642", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 07:20:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c8b145a5ab627d744ee98495f9fdc749
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1588318469'
      X-Response-Time:
      - '119'
      X-Transaction:
      - 00c5cd5000088aa6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":1255343018363756543,"max_id_str":"1255343018363756543","query":"%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97+from%3Aaiandrox","refresh_url":"?since_id=1255343018363756543&q=%23%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97%20from%3Aaiandrox&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 01 May 2020 07:20:42 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1255854602626330624&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="66bab4e1b51da184498cee35cd2d8bba",
        oauth_signature="dPaFmrQVv7QjQripz7jNEFhvl9s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588317642", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 01 May 2020 07:20:42 GMT
      X-Connection-Hash:
      - 7c91ad4481653594d945d2e8027d6ccd
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1588318542'
      X-Response-Time:
      - '113'
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/aiandrox\/status\/1255854602626330624","author_name":"END","author_url":"https:\/\/twitter.com\/aiandrox","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"ja\" dir=\"ltr\"\u003Eガバガバロジックが判明しました……動かないメソッド作ってました……テストって大事ですね……。\u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E9%80%B2%E6%8D%97?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#ポートフォリオ進捗\u003C\/a\u003E\u003C\/p\u003E&mdash;
        END (@aiandrox) \u003Ca href=\"https:\/\/twitter.com\/aiandrox\/status\/1255854602626330624?ref_src=twsrc%5Etfw\"\u003E2020年4月30日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Fri, 01 May 2020 07:20:42 GMT
[...]
