---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=%23test+%E6%9C%AC%E6%96%87
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="c4f2cb73ce47e51c4eafdeb8d89ff270",
        oauth_signature="7CrVlsjDDdyKG%2FGPKp434UBHMyI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649480844", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 09 Apr 2022 05:07:24 GMT
      X-Transaction:
      - 34d53236c87c424c
      X-Access-Level:
      - read-write
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '173'
      X-Connection-Hash:
      - 22a1c105de40962e4e279a7f805ae418ae881ee19e63f59215ae1d4b0cc15deb
    body:
      encoding: UTF-8
      string: '{"created_at":"Sat Apr 09 05:07:24 +0000 2022","id":1512658413901078528,"id_str":"1512658413901078528","text":"#test
        \u672c\u6587","truncated":false,"entities":{"hashtags":[{"text":"test","indices":[0,5]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/hashlog.work\" rel=\"nofollow\"\u003eHashIog\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1242379749650907137,"id_str":"1242379749650907137","name":"Hashlog
        - \u3042\u306a\u305f\u306e\u5b66\u7fd2\u3092\u53ef\u8996\u5316\u3059\u308b\u30c4\u30a4\u30fc\u30c8\u8a18\u9332\u30b5\u30fc\u30d3\u30b9","screen_name":"Hash1og","location":"","description":"Hashlog\u306f\u3001\u30cf\u30c3\u30b7\u30e5\u30bf\u30b0\u3092\u767b\u9332\u3059\u308b\u3060\u3051\u3067\u3042\u306a\u305f\u306e\u7d99\u7d9a\u3092\u53ef\u8996\u5316\u3059\u308b
        Twitter\u9023\u643a\u578b \u5b66\u7fd2\u8a18\u9332\u30b5\u30fc\u30d3\u30b9\u3067\u3059\u3002\n\u5b66\u7fd2\u306e\u632f\u308a\u8fd4\u308a\u3001\u9811\u5f35\u308a\u306e\u53ef\u8996\u5316\u3001\u30c4\u30a4\u30fc\u30c8\u306e\u30dd\u30fc\u30c8\u30d5\u30a9\u30ea\u30aa\u5316\u304c\u3067\u304d\u307e\u3059\u3002\n\u304a\u554f\u3044\u5408\u308f\u305b\u306f\u3053\u3061\u3089\u304b\u3089\u3069\u3046\u305e\u3002\u30ea\u30de\u30a4\u30f3\u30c0\u30fc\u7528\u306eBot\u3082\u517c\u306d\u3066\u3044\u307e\u3059\u3002\n\u7ba1\u7406\u8005\uff1a@aiandrox","url":"https:\/\/t.co\/G6yd9iUWcC","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/G6yd9iUWcC","expanded_url":"https:\/\/hashlog.work","display_url":"hashlog.work","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":78,"friends_count":87,"listed_count":0,"created_at":"Tue
        Mar 24 09:16:34 +0000 2020","favourites_count":1526,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":751,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1270548562221215744\/_lvOIniK_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1270548562221215744\/_lvOIniK_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1242379749650907137\/1591757543","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"ja"}'
  recorded_at: Sat, 09 Apr 2022 05:07:24 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?hide_thread=true&id=1512658413901078528&lang=ja&omit_script=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="8509bf7bc35ee80c4e37460cb6b3d73a",
        oauth_signature="O4306kdase1TzveYJnBPKFnJgy0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649480844", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 09 Apr 2022 05:07:24 GMT
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Reset:
      - '1649481744'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '179'
      X-Response-Time:
      - '113'
      X-Connection-Hash:
      - 792b04150fdbec2c2f3193d3c80249e8239c07b1d770bb7ab4c15e8125289a06
    body:
      encoding: UTF-8
      string: '{"url":"https:\/\/twitter.com\/Hash1og\/status\/1512658413901078528","author_name":"Hashlog
        - あなたの学習を可視化するツイート記録サービス","author_url":"https:\/\/twitter.com\/Hash1og","html":"\u003Cblockquote
        class=\"twitter-tweet\" data-lang=\"ja\"\u003E\u003Cp lang=\"ja\" dir=\"ltr\"\u003E\u003Ca
        href=\"https:\/\/twitter.com\/hashtag\/test?src=hash&amp;ref_src=twsrc%5Etfw\"\u003E#test\u003C\/a\u003E
        本文\u003C\/p\u003E&mdash; Hashlog - あなたの学習を可視化するツイート記録サービス (@Hash1og) \u003Ca
        href=\"https:\/\/twitter.com\/Hash1og\/status\/1512658413901078528?ref_src=twsrc%5Etfw\"\u003E2022年4月9日\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Sat, 09 Apr 2022 05:07:24 GMT
recorded_with: VCR 6.1.0
